//
//
//
//ion-header {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}
//
//ion-content {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  height: 100vh;
//}
//
//ion-content .content-container {
//  max-width: 90%;
//  padding: 20px;
//}
//
//@media only screen and (max-width: 768px) {
//  ion-content .content-container {
//    max-width: 100%;
//    padding: 10px;
//  }
//}
//



/* Centrer le contenu verticalement dans la page */
ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajuster la hauteur à 100% de la vue */
}

/* Ajouter une marge pour l'espace autour du contenu */
ion-content .ion-text-center {
  margin: 20px;
}
