


ion-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

ion-content .content-container {
  max-width: 90%;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  ion-content .content-container {
    max-width: 100%;
    padding: 10px;
  }
}

